tqdm
black
ruff
hydra-core
jaxtyping
beartype
wandb
einops
colorama
scikit-image
colorspacious
matplotlib
moviepy==1.0.3
imageio==2.37.0
timm
dacite
lpips
pytorch_lightning==2.5
mmengine
tensorboard
ftfy
regex
plyfile
scipy
pykdtree
taichi
open3d
numpy==2.1.1
OpenEXR
setuptools==65.1.0
h5py
